* {
	font-family: bebas neue;
}
body {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/categorias.jpg);
}
.listapelist {
	display: flex;
}
.pelisrecomendadas {
	height: 200px;
	width: 400px;
	margin-left: 10px;
	margin-right: 20px;
	margin-bottom: 20px;
}
h1 {
	font-family: bebas neue;
	display: flex;
	justify-content: center;
	font-size: 5em;
	color: blue;
	margin: 30px;
}
.rollingstreming {
	display: flex;
	justify-content: center;
	margin-top: 1.5rem;
}
h3 {
	display: flex;
	justify-content: center;
	font-size: 3rem;
	color: red;
}
footer {
	text-align: center;
	background-color: black;
	color: white;
	margin-bottom: 40px;
	padding: 15px;
	margin-top: 10px;
	opacity: 0.8;
}
